[submodule "src/godot_headers"]
	path = src/godot_headers
	url = https://github.com/GodotNativeTools/godot_headers.git
[submodule "src/thirdparty/zstd"]
	path = src/thirdparty/zstd
	url = https://github.com/facebook/zstd.git
[submodule "src/thirdparty/libarchive"]
	path = src/thirdparty/libarchive
	url = https://github.com/libarchive/libarchive.git
